.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-link {
  text-decoration: none;
}
.navigation-links1-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}









@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.header-container {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
}
.header-navlink {
  display: contents;
}
.header-image {
  height: 2rem;
  text-decoration: none;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}
.header-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-navlink1 {
  text-decoration: none;
}
.header-link {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-text {
  margin-left: var(--dl-space-space-twounits);
}
.header-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.header-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-link1 {
  text-decoration: none;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-image1 {
  height: 2rem;
}
.header-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .header-container {
    gap: var(--dl-space-space-unit);
  }
  .header-icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-nav {
    display: none;
  }
  .header-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .header-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-btn-group {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    display: none;
    padding: 16px;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-violet-50);
}
.footer-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-violet-50);
}
.footer-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
}
.footer-image {
  filter: invert();
  height: 2rem;
}
.footer-icon-group {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

@media(max-width: 767px) {
  .footer-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-container {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.capybara-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.capybara-projects {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-violet-50);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.capybara-navlink {
  display: contents;
}
.capybara-container1 {
  gap: var(--dl-space-space-halfunit);
  display: none;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.capybara-icon {
  width: 24px;
  height: auto;
  align-self: flex-start;
}
.capybara-container2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 745px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.capybara-text01 {
  width: 192px;
  height: 42px;
  font-style: normal;
  font-weight: 700;
}
.capybara-text02 {
  color: var(--dl-color-gray-500);
  font-family: Nunito;
  font-weight: 600;
  text-transform: uppercase;
}
.capybara-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.capybara-text04 {
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}
.capybara-text05 {
  width: auto;
  font-family: Nunito;
  line-height: 24px;
  user-select: text;
}
.capybara-container4 {
  width: 100%;
  height: 567px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
}
.capybara-container5 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  overflow: auto;
  align-self: center;
  max-height: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-violet-50);
}
.capybara-video {
  flex: 1;
  width: 100%;
  max-width: auto;
  align-self: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.capybara-container6 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  overflow: auto;
  align-self: center;
  max-height: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-violet-50);
}
.capybara-video1 {
  flex: 1;
  width: 100%;
  max-width: auto;
  align-self: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.capybara-text06 {
  font-style: normal;
  font-weight: 700;
}
.capybara-text07 {
  width: auto;
  font-family: Nunito;
  line-height: 24px;
  user-select: text;
}
.capybara-container7 {
  flex: 0 0 auto;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.capybara-image {
  width: 50%;
  height: 500px;
  align-self: center;
  object-fit: cover;
}
.capybara-image1 {
  width: 50%;
  height: 500px;
  object-fit: cover;
}
.capybara-text08 {
  font-style: normal;
  font-weight: 700;
}
.capybara-text09 {
  width: auto;
  font-family: Nunito;
  line-height: 24px;
  user-select: text;
}
.capybara-image2 {
  width: 100%;
  height: 411px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
}
.capybara-text10 {
  font-style: normal;
  font-weight: 700;
}
.capybara-text11 {
  width: auto;
  font-family: Nunito;
  line-height: 24px;
  user-select: text;
}
.capybara-image3 {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
}
.capybara-text12 {
  color: #000000;
  font-style: normal;
  font-weight: 700;
}
.capybara-text13 {
  width: auto;
  font-family: Nunito;
  line-height: 24px;
  user-select: text;
}
.capybara-image4 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
}
.capybara-text14 {
  font-style: normal;
  font-weight: 700;
}
.capybara-text15 {
  width: auto;
  font-family: Nunito;
  line-height: 24px;
  user-select: text;
}
.capybara-image5 {
  width: 100%;
  height: 527px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
@media(max-width: 991px) {
  .capybara-projects {
    border-radius: 0px;
  }
  .capybara-container4 {
    max-height: 400px;
  }
  .capybara-container5 {
    align-self: center;
  }
  .capybara-video {
    max-width: auto;
  }
  .capybara-container6 {
    align-self: center;
  }
  .capybara-video1 {
    max-width: auto;
  }
  .capybara-container7 {
    width: 100%;
  }
  .capybara-image {
    width: 50%;
  }
  .capybara-image1 {
    width: 50%;
  }
  .capybara-image2 {
    width: 100%;
  }
  .capybara-image3 {
    width: 100%;
  }
  .capybara-image5 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .capybara-projects {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .capybara-text05 {
    max-width: 100%;
  }
  .capybara-container4 {
    height: 400px;
    max-height: 290px;
  }
  .capybara-container5 {
    width: 100%;
    max-width: 50%;
    align-self: center;
  }
  .capybara-video {
    width: auto;
    height: auto;
    max-width: 100%;
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0px;
  }
  .capybara-container6 {
    width: 100%;
    max-width: 50%;
    align-self: center;
  }
  .capybara-video1 {
    width: auto;
    height: auto;
    max-width: 100%;
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0px;
  }
  .capybara-text07 {
    max-width: 100%;
  }
  .capybara-text09 {
    max-width: 100%;
  }
  .capybara-image2 {
    width: 100%;
  }
  .capybara-text11 {
    max-width: 100%;
  }
  .capybara-image3 {
    width: 100%;
  }
  .capybara-text13 {
    max-width: 100%;
  }
  .capybara-text15 {
    max-width: 100%;
  }
  .capybara-image5 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .capybara-projects {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .capybara-container4 {
    height: 300px;
    max-height: 200px;
  }
  .capybara-container5 {
    align-self: center;
  }
  .capybara-video {
    width: auto;
    height: auto;
    max-width: 100%;
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
  }
  .capybara-container6 {
    align-self: center;
  }
  .capybara-video1 {
    width: auto;
    height: auto;
    max-width: 100%;
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
  }
  .capybara-container7 {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .capybara-image {
    width: 50%;
    height: 250px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: 0px;
    border-top-left-radius: var(--dl-radius-radius-radius4);
    border-bottom-left-radius: var(--dl-radius-radius-radius4);
  }
  .capybara-image1 {
    width: 50%;
    height: 250px;
    border-radius: var(--dl-radius-radius-radius4);
    border-top-right-radius: var(--dl-radius-radius-radius4);
    border-bottom-right-radius: var(--dl-radius-radius-radius4);
  }
  .capybara-image2 {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
  .capybara-image3 {
    width: 100%;
    height: auto;
    max-width: 400px;
    align-self: center;
  }
  .capybara-image5 {
    width: 100%;
    height: auto;
    align-self: center;
  }
}
