<div>
  <link href="./blog-banner.css" rel="stylesheet" />
  <div class="blog-banner-blog-post-card">
    <img
      alt="image"
      src="public/headshots/andres-400w.png"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="blog-banner-image"
    />
    <div class="blog-banner-container">
      <div
        data-role="accordion-container"
        class="blog-banner-element accordion-element"
      >
        <h1 class="blog-banner-text"><span>Title</span></h1>
        <span class="blog-banner-text1"><span>Tagline</span></span>
        <span data-role="accordion-content" class="blog-banner-text2">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Molestie
            a iaculis at erat pellentesque adipiscing commodo elit at. Non diam
            phasellus vestibulum lorem sed risus ultricies tristique. Etiam sit
            amet nisl purus. Ornare quam viverra orci sagittis eu.
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
