.blog-post-gif-blog-post-card {
  width: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  border-radius: 50%;
  flex-direction: row;
}
.blog-post-gif-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-gif-image {
  width: 320px;
  height: auto;
  max-width: 320px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
}
.blog-post-gif-container {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.blog-post-gif-element {
  gap: var(--dl-space-space-unit);
  width: auto;
  user-select: none;
  border-color: rgba(219, 219, 219, 0);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.blog-post-gif-text {
  font-style: normal;
  font-weight: 700;
}
.blog-post-gif-text1 {
  color: var(--dl-color-gray-500);
  font-family: Nunito;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.blog-post-gif-text2 {
  width: 100%;
  max-width: 535px;
  font-family: Nunito;
  line-height: 24px;
  user-select: text;
}
.blog-post-gif-text3 {
  width: 100%;
  font-size: 18px;
  max-width: 535px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 27px;
}
.blog-post-gif-root-class-name1 {
  display: none;
}
.blog-post-gif-root-class-name2 {
  display: none;
}
.blog-post-gif-root-class-name4 {
  display: none;
}
.blog-post-gif-root-class-name6 {
  display: none;
}

.blog-post-gif-root-class-name8 {
  display: none;
}
@media(max-width: 991px) {
  .blog-post-gif-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .blog-post-gif-blog-post-card {
    flex-direction: column;
  }
  .blog-post-gif-image {
    width: 100%;
    max-width: 100%;
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: 0;
  }
  .blog-post-gif-container {
    border-top-right-radius: 0px;
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
  }
  .blog-post-gif-element {
    width: 100%;
    max-width: auto;
  }
  .blog-post-gif-text3 {
    display: none;
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .blog-post-gif-element {
    width: 100%;
    max-width: auto;
  }
}
