.component1-container {
  display: flex;
  position: relative;
}
.component1-link {
  width: auto;
  cursor: pointer;
  font-size: 18px;
  max-width: 535px;
  font-style: normal;
  transition: 0.3s;
  font-family: Nunito;
  font-weight: 600;
  line-height: 27px;
  padding-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.component1-link:hover {
  color: var(--dl-color-violet-400);
}
@media(max-width: 767px) {
  .component1-link {
    font-size: 16px;
    line-height: 24px;
  }
}
