<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink">
      <span>Projects</span>
    </a>
    <a href="https://ar.princeton.edu/" class="navigation-links-link">
      <span>Team</span>
    </a>
    <span class="navigation-links-text"><span></span></span>
    <span class="navigation-links-text1"><span></span></span>
    <span class="navigation-links-text2"><span></span></span>
  </nav>
</div>
